.form-class {
    list-style-type: none; /* Elimină bulinele din listă */
    width: fit-content;
    margin: 0 auto;
    margin-top: 20px;

}

.custom-info {
    list-style-type: none;
    color: green;
    font-weight: bold;
}

.custom-error {
    list-style-type: none;
    color: red;
    font-weight: bold;

}

.custom-error, .custom-info {
    list-style-type: none; /* Elimină bulinele din listă */
    padding: 0;           /* Elimină spațiul implicit */
    margin: 0 auto;       /* Centrare orizontală */
    max-width: 300px;     /* Lățime fixă pentru a preveni extinderea */
    margin-left: -40px;
}


.input-field {
    list-style-type: none; /* Elimină bulinele din listă */
    margin-bottom: 10px; /* Setează marginea de jos */
}

.messages-class {
    list-style-type: none; /* Elimină bulinele din listă */
}

.button-class {
    width: fit-content;

    text-align: center;
    margin-left: 20px;

}